<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>amazon1</display-name>
  <welcome-file-list>
    <welcome-file>amazonIndex</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AmazonCartServlet</display-name>
    <servlet-name>AmazonCartServlet</servlet-name>
    <servlet-class>com.amazon.servlet.AmazonCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AmazonCartServlet</servlet-name>
    <url-pattern>/cartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AmazonUserServlet</display-name>
    <servlet-name>AmazonUserServlet</servlet-name>
    <servlet-class>com.amazon.servlet.AmazonUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AmazonUserServlet</servlet-name>
    <url-pattern>/userServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AmazonProductServlet</display-name>
    <servlet-name>AmazonProductServlet</servlet-name>
    <servlet-class>com.amazon.servlet.AmazonProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AmazonProductServlet</servlet-name>
    <url-pattern>/productServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AmazonOrderServlet</display-name>
    <servlet-name>AmazonOrderServlet</servlet-name>
    <servlet-class>com.amazon.servlet.AmazonOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AmazonOrderServlet</servlet-name>
    <url-pattern>/amazonOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AmazonIndex</display-name>
    <servlet-name>AmazonIndex</servlet-name>
    <servlet-class>com.amazon.servlet.AmazonIndex</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AmazonIndex</servlet-name>
    <url-pattern>/amazonIndex</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AmazonProductAdmServlet</display-name>
    <servlet-name>AmazonProductAdmServlet</servlet-name>
    <servlet-class>com.amazon.servlet.AmazonProductAdmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AmazonProductAdmServlet</servlet-name>
    <url-pattern>/ProductAdmServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AmazonFileUpload</display-name>
    <servlet-name>AmazonFileUpload</servlet-name>
    <servlet-class>com.amazon.servlet.AmazonFileUpload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AmazonFileUpload</servlet-name>
    <url-pattern>/fileUpload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImageCodeServlet</display-name>
    <servlet-name>ImageCodeServlet</servlet-name>
    <servlet-class>com.amazon.servlet.ImageCodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageCodeServlet</servlet-name>
    <url-pattern>/imageCodeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AmazonAdminCategoryServlet</display-name>
    <servlet-name>AmazonAdminCategoryServlet</servlet-name>
    <servlet-class>com.amazon.servlet.AmazonAdminCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AmazonAdminCategoryServlet</servlet-name>
    <url-pattern>/adminCategoryServlet</url-pattern>
  </servlet-mapping>
</web-app>